<body>
  <form>
    <!-- Identificação do Profissional -->
    <fieldset>
      <legend>Identificação do Profissional</legend>
      <div class="line-group">
        <div class="input-group">
          <label for="cns-profissional">CNS do profissional</label>
          <input type="text" id="cns-profissional" name="cns-profissional">
        </div>
        <div class="input-group">
          <label for="cbo">CBO</label>
          <input type="text" id="cbo" name="cbo">
        </div>
        <div class="input-group">
          <label for="cnes">CNES</label>
          <input type="text" id="cnes" name="cnes">
        </div>
        <div class="input-group">
          <label for="ine">INE</label>
          <input type="text" id="ine" name="ine">
        </div>
        <div class="input-group">
          <label for="data">Data</label>
          <input type="date" id="data" name="data">
        </div>
      </div>
    </fieldset>

    <!-- Identificação do Usuário / Cidadão -->
    <fieldset>
      <legend>Identificação do Usuário / Cidadão</legend>
      <div class="line-group">
        <div class="input-group">
          <label for="cpf-cns-cidadao">CPF/CNS do cidadão *</label>
          <input type="text" id="cpf-cns-cidadao" name="cpf-cns-cidadao" required>
        </div>
        <div class="input-group">
          <label>Cidadão é o responsável familiar?</label>
          <div class="inline-group">
            <input type="radio" id="responsavel-sim" name="responsavel-familiar" value="sim">
            <label for="responsavel-sim">Sim</label>
            <input type="radio" id="responsavel-nao" name="responsavel-familiar" value="nao">
            <label for="responsavel-nao">Não</label>
          </div>
        </div>
        <div class="input-group">
          <label for="cpf-responsavel">CPF/CNS do responsável familiar</label>
          <input type="text" id="cpf-responsavel" name="cpf-responsavel">
        </div>
      </div>

      <div class="line-group">
        <div class="input-group">
          <label for="nome-completo">Nome completo</label>
          <input type="text" id="nome-completo" name="nome-completo">
        </div>
        <div class="input-group">
          <label for="nome-social">Nome social</label>
          <input type="text" id="nome-social" name="nome-social">
        </div>
        <div class="input-group">
          <label for="microarea">Microárea</label>
          <input type="text" id="microarea" name="microarea">
          <div class="checkbox-group">
            <input type="checkbox" id="fora-da-area" name="fora-da-area">
            <label for="fora-da-area">Fora da área</label>
          </div>
        </div>

      </div>

      <div class="line-group">
        <div class="input-group">
          <label for="data-nascimento">Data de nascimento *</label>
          <input type="date" id="data-nascimento" name="data-nascimento" required>
        </div>
        <fieldset>
          <div class="input-group">
            <label>Sexo *</label>
            <div class="inline-group">
              <input type="radio" id="sexo-feminino" name="sexo" value="feminino" required>
              <label for="sexo-feminino">Feminino</label>
              <input type="radio" id="sexo-masculino" name="sexo" value="masculino">
              <label for="sexo-masculino">Masculino</label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="line-group">
        <fieldset>
          <div class="input-group">
            <label>Raça/Cor *</label>
            <div class="inline-group">
              <input type="radio" id="branca" name="raca-cor" value="branca" required>
              <label for="branca">Branca</label>
              <input type="radio" id="preta" name="raca-cor" value="preta">
              <label for="preta">Preta</label>
              <input type="radio" id="parda" name="raca-cor" value="parda">
              <label for="parda">Parda</label>
              <input type="radio" id="amarela" name="raca-cor" value="amarela">
              <label for="amarela">Amarela</label>
              <input type="radio" id="indigena" name="raca-cor" value="indigena">
              <label for="indigena">Indígena</label>
            </div>
          </div>
        </fieldset>
        <div class="input-group">
          <label for="etnia">Etnia</label>
          <input type="text" id="etnia" name="etnia">
        </div>
      </div>

      <div class="line-group">
        <div class="input-group">
          <label for="nis">Nº NIS (PIS/PASEP)</label>
          <input type="text" id="nis" name="nis">
        </div>
        <div class="input-group">
          <label for="nome-mae">Nome completo da mãe *</label>
          <input type="text" id="nome-mae" name="nome-mae" required>
        </div>
        <div class="input-group">
          <label for="nome-pai">Nome completo do pai *</label>
          <input type="text" id="nome-pai" name="nome-pai">
          <div class="checkbox-group">
            <input type="checkbox" id="pai-desconhecido" name="pai-desconhecido">
            <label for="pai-desconhecido">Desconhecido</label>
          </div>
        </div>

      </div>

      <div class="line-group">
        <div class="input-group">
          <label>Nacionalidade *</label>
          <div class="inline-group">
            <input type="radio" id="brasileira" name="nacionalidade" value="brasileira" required>
            <label for="brasileira">Brasileira</label>
            <input type="radio" id="naturalizado" name="nacionalidade" value="naturalizado">
            <label for="naturalizado">Naturalizado</label>
            <input type="radio" id="estrangeiro" name="nacionalidade" value="estrangeiro">
            <label for="estrangeiro">Estrangeiro</label>
          </div>
        </div>
        <div class="input-group">
          <label for="pais-nascimento">País de nascimento</label>
          <input type="text" id="pais-nascimento" name="pais-nascimento">
        </div>
      </div>

      <div class="line-group">
        <div class="input-group">
          <label for="data-naturalizacao">Data de naturalização</label>
          <input type="date" id="data-naturalizacao" name="data-naturalizacao">
        </div>
        <div class="input-group">
          <label for="portaria-naturalizacao">Portaria de naturalização</label>
          <input type="text" id="portaria-naturalizacao" name="portaria-naturalizacao">
        </div>
        <div class="input-group">
          <label for="municipio-nascimento">Município e UF de nascimento</label>
          <input type="text" id="municipio-nascimento" name="municipio-nascimento">
        </div>
      </div>

      <div class="line-group">
        <div class="input-group">
          <label for="data-entrada">Data de entrada no Brasil</label>
          <input type="date" id="data-entrada" name="data-entrada">
        </div>
      </div>
    </fieldset>

    <!-- Contato -->
    <fieldset>
      <legend>Contato</legend>
      <div class="line-group">
        <div class="input-group">
          <label for="telefone">Telefone celular</label>
          <input type="text" id="telefone" name="telefone">
        </div>
        <div class="input-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" name="email">
        </div>
      </div>
    </fieldset>
  </form>
</body>



