body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;background-image: url(../../../assets/background-blue.svg);
  background-size: cover; /* Faz com que a imagem ocupe todo o fundo */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  background-attachment: fixed; /* Faz o fundo ficar fixo ao rolar a página */
}

div{
  margin-bottom: 10px;
}

form {
  background: #001d5493;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.line-group {
  display: flex;
  gap: 25px;
  align-items: flex-start;
}

.input-group {
  flex: 1;
}

.inline-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px !important;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 1px;
}

.input-group {
  display: flex;
  flex-direction: column; /* Alinha os elementos em coluna */
}

.checkbox-group {
  display: flex;
  align-items: center; /* Alinha verticalmente */
  gap: 5px; /* Define o espaço entre a caixa de seleção e o texto */
  margin-top: 5px; /* Adiciona um pequeno espaçamento acima, se necessário */
}




@media (max-width: 768px) {
  .line-group {
    flex-direction: column;
  }
}
