<body>
  <div class="container-1">
    <section class="introduction">
      <h1>Saúde Conecta</h1>
      <p>Breve descrição introdutória. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
      <button><a href="">Começar</a></button>
    </section>
  </div>

  <main class="container">
    <section class="about-us">
      <img class="healthAgentsVector1" src="../../../assets/healthAgentsVector1.png" alt="Imagem representativa sobre nós">
      <div class="about-content">
        <h2>Sobre Nós</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae omnis similique tenetur iste sapiente praesentium qui voluptatibus, ut ad quas iure dolore dolores id quo necessitatibus, rem quasi cumque nemo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi earum quod veritatis corporis soluta, ex corrupti illo sed optio. Corrupti fugit distinctio nisi accusantium sapiente sint illum commodi. Maxime, magnam!</p>
        <button><a href="">Começar</a></button>
      </div>
    </section>
  </main>
</body>
