<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav-bar">
  <div class="container-fluid text-end">
    <a class="navbar-brand" routerLink="/home">
      <img class="logoSaudeConecta" src="../../../assets/logoSaudeConectaBorda.svg" alt="logo saúde conecta">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-list" viewBox="0 0 16 16">
          <path d="M2 12h12v2H2v-2zM2 8h12v2H2V8zM2 4h12V6H2V4z"/>
        </svg>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="/home">Home</a>
        <a class="nav-link" routerLink="/about">Sobre</a>
        <a class="nav-link" routerLink="/login">Entrar</a>
      </div>
    </div>
  </div>
</nav>
