* {
  margin: 0px;
  box-sizing: border-box;
}

.container {
  width: 90vw;
  margin: auto;
}

.background {
  background-image: url(../../../assets/background-blue.svg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.navigation-links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

/* Ajustes do título */
section h1 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin: 100px 0;
}

.buttons {
  margin-top: 50px; /* Reduzi o espaço superior */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 35px;
}

.buttons button {
  width: 500px;
  height: 100px;
  border-radius: 20px;
  font-weight: 600;
  color: #001e54;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #3498db;
  color: white;
}

/* Responsividade */
@media (max-width: 768px) {
  /* Ajuste o título para telas menores */
  section h1 {
    font-size: 30px; /* Tamanho menor para o título */
    margin: 50px 0;
  }

  /* Ajuste a estrutura dos botões */
  .buttons {
    grid-template-columns: 1fr; /* Um botão por linha em telas menores */
    margin-top: 30px;
  }

  .buttons button {
    width: 90%; /* Botões ocupando mais largura */
    font-size: 20px; /* Reduzir o tamanho da fonte dos botões */
  }
}

@media (max-width: 480px) {
  /* Para telas ainda menores, ajustando o tamanho da fonte e largura dos botões */
  section h1 {
    font-size: 24px; /* Fontes menores em dispositivos móveis */
  }

  .buttons button {
    width: 100%; /* Botões ocupam 100% da largura da tela */
    font-size: 18px; /* Fonte menor */
  }
}
