<body>
  <div class="background">
    <header class="container">
      <nav class="main-navigation">
        <div class="navigation-links">
          <!-- Aqui você pode adicionar links de navegação -->
        </div>
      </nav>
    </header>

    <section>
      <h1>Seja Bem-Vindo(a)</h1>
      <div class="buttons container">
        <button [routerLink]="'/tipo-de-cadastro'">Iniciar nova coleta</button>
        <button [routerLink]="'/status-de-sincronizacao'">Status de Sincronização</button>
        <button [routerLink]="'/pacientes-recentes'">Pacientes recentes</button>
        <button [routerLink]="'/visitas-cadastradas'">Visitas cadastradas</button>
      </div>
    </section>
  </div>
</body>
