<body>
  <form>
    <!-- Dados Socioeconômicos -->
    <fieldset>
      <legend>Dados Socioeconômicos</legend>
      <div class="line-group">
        <div class="input-group">
          <label for="renda-familiar">Renda Familiar:</label>
          <input type="text" id="renda-familiar" name="renda-familiar" placeholder="R$">
        </div>
        <div class="input-group">
          <label for="numero-pessoas">Número de Pessoas na Casa:</label>
          <input type="text" id="numero-pessoas" name="numero-pessoas" placeholder="5">
        </div>
        <div class="input-group">
          <label for="ocupacao">Ocupação:</label>
          <input type="text" id="ocupacao" name="ocupacao" placeholder="(Trabalha/Estuda)">
        </div>
      </div>
      <div class="line-group">
        <div class="input-group">
          <label for="condicoes-transporte">Condições de Transporte:</label>
          <input type="text" id="condicoes-transporte" name="condicoes-transporte" placeholder="Texto do formulário">
        </div>
        <div class="input-group">
          <label for="escolaridade">Nível de Escolaridade:</label>
          <input type="text" id="escolaridade" name="escolaridade" placeholder="Superior completo">
        </div>
        <div class="input-group">
          <label for="tipo-residencia">Tipo de Residência:</label>
          <input type="text" id="tipo-residencia" name="tipo-residencia" placeholder="Tipo de Residência">
        </div>
      </div>
      <div class="line-group housing-conditions">
        <label>Condições de Moradia:</label>
        <div class="checkbox-group">
          <input type="checkbox" id="saneamento" name="saneamento">
          <label for="saneamento">Saneamento Básico</label>
          <input type="checkbox" id="agua" name="agua" checked>
          <label for="agua">Água Potável</label>
        </div>
      </div>
    </fieldset>
    <footer>
      <button type="submit">Próximo →</button>
    </footer>
  </form>
</body>
